</main>
  <footer>
    <p class="text-center text-muted mt-4 mb-4 animate__animated animate__fadeIn animate-delay-3">
    <small>&copy; 2025 ESCOM. All rights reserved.</small>
</p>
  </footer>
</body>
</html>